body {
    background: black;
    color: white;
    h2 {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 45px;
      }
    h5 {
        font-size: 40px;
      }

    .align-center {
        text-align: center;
      }
    .text {
        word-wrap: break-word;
        position: relative;
      }
    .text-2 {
        font-size: 20px;
        width: 755px;
        margin: 20px auto 0;
    }
    .text-3 {
        font-size: 30px;
        width: 755px;
        margin: 20px auto 0;
    }
    .text-6 {
        margin: 20px 0 0;
        color: #afaeae
    }
    .text-yellow{
        color: yellow;
    }
    #frontPage {
        flex: 1; 
      }
    .frontPageBtn {
        display: flex;
        gap: 20px;
        align-items: baseline;
        justify-content: space-evenly;
        margin-top: 80px; 
        margin-bottom: 80px;
      }
      
    .btnArea {
        height: 250px;
        width: 200px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #3f3f3f;
        cursor: pointer;
        
        h6 {
            font-size: 30px;
            margin-top: 0px;
            text-align: center;
          }  
        .icon {
            display: block;
            line-height: 0;
            border-width: 0px;
        }
        .icon-circle {
            border-radius: 50%;
            background: #2a63ec;
            // color: #ffffff;
            width: 30px;
            height:30px;
            // font-size: 50px;
            background-image: none;
            margin: 0 0 0 auto;
            padding: 19px;
        }
        .icon-1 {
            width: 30px;
            height: 30px;
            font-size: 35px; 
            color: white; 
            display: flex;
            align-items: center;
            justify-content: center;
          }
    }
    #navBtn {
        position: fixed;
        top: 45%;
        left: 30px;
        .navSubBtn {
            background: #2a63ec;
            border: 0px solid #2a63ec;
            border-radius: 35px;
            font-size: 15;
            font-weight: bold;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            outline: none;
            transition: all .25s ease;
            width: 60px;
            position: relative;
            height: 60px;
            overflow: hidden;
            margin-bottom: 20px;

            &:hover {
                width: 200px; 
              }
            &:hover .text {
                opacity: 1;
              }
        }
 
        .navSubBtn:not(.loading):hover {
            box-shadow: 0px 10px 25px 0px rgba(73, 215, 92,.4);
        }
        .navSubBtn:not(.loading):hover i {
            transform: translate(7px);
        }
        .navSubBtn i {
            font-size: 20;
            position: absolute;
            left: 0px;
            pointer-events: none;
            z-index: 10;
            background: inherit;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: transform  .25s ease;

        }        
        .text {
            width: 80px;
            display: block;
            position: relative;
            pointer-events: none;
            transition: all .25s ease;
            position: absolute;
            left: 60px;
            opacity: 0; 
            transition: opacity 0.25s ease; 
        }

    }
    .user-input-table {
      border-collapse: collapse;
      width: 80%;
      align-items: center;
      border-bottom: 1px solid #ddd;

      tr {
        border-bottom: 1px solid #ddd;

      }
      td {
          padding: 8px;
        }

      label {
          font-weight: bold;
          display: block;
          margin-bottom: 4px;
        }
      input{
          width: 100%;
          padding: 4px 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
      select{
          width: 150;
          padding: 4px 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
      
      input[type="text"] {
          width: 200px;
        }
      
      input[type="month"] {
          width: 140px;
        }
      
        input[type="number"] {
          width: 100px;
          text-align: right;
        }
        .searchCriteriaBtn {
          background-color: #2a63ec;
          color: #fff;
          border: none;
          padding: 10px 20px;
          font-size: 20px;
          cursor: pointer;
          border-radius: 4px;
          align-items: center;
          width: 300px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            padding: 10px;
          }
      }
        
      .searchCriteriaBtn:hover {
          background-color: #1e449c;
      }
  }

    .searchPage{
        width: 100%;
        min-height: 595px;
        width: 1243px;

        background-color: #3f3f3f;
        margin-top: 80px;
        margin-bottom: 80px;
        padding-left: 100px;

        #search-searchArea{
          padding-top: 50px
        }

        #searchResultP {   
          color: white;   
          font-size: 30px;
          text-align: center;
          margin: 10px auto 0;
          padding-right: 160px;
        }
        .searchListCol-80{
          width: 80px;
        }
        .searchListCol-150{
          width: 200px;
        }
        .searchResultBtn{
          width: 80px;
          height: 20px;
          // background-color: #2a63ec;
          border: none;
          font-size:15px;
          cursor: pointer;          
          margin-left: 10px;

        }
        
    }
    .detialPage {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 100px;

        min-height: 595px;
        width: 1243px;
      table {
        width: 80%;
        border-collapse: collapse;
        margin-top: 30px;
        color: white;
        font-size: 18px;
      }
    
      td {
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      tr:nth-child(even) {
        background-color: #3f3f3f;
      }
    
      tr:last-child {
        border-bottom: none;
      }
      label{
        color: white;
      }
      input {
          border: none;
          background-color: transparent;
          color: yellow;
          font-size: 18px; 
          font-weight: bold;
          padding-left: 20px;
      }

      .detialCol-200{
        width: 1200px;
        border: none;
        background-color: transparent;
        color: yellow;
      }
      .headerImage {
        position: relative; /* Add this to make the container relative */
      }
      .detailBtn {
        position: absolute;

        background-color: #2a63ec;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 4px;
        align-items: center;
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          padding: 10px;
        }
      }
    }
    .comparePage{
      width: 100%;
      min-height: 595px;
      width: 1243px;
  
      background-color: #3f3f3f;
      margin-top: 80px;
      margin-bottom: 80px;
      padding-left: 100px;
    }

}