body {
    background: black;
    color: white;
    h2 {
        font-size: 45px;
      }
    .align-center {
        text-align: center;
      }
    .text {
        word-wrap: break-word;
        position: relative;
      }
    .text-2 {
        font-size: 20px;
        width: 755px;
        margin: 20px auto 0;
    }
    .text-yellow{
        color: yellow;
    }

  }